$cardWidth: 200px;

.catalog {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, $cardWidth);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, $cardWidth);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, $cardWidth);
  }

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: $cardWidth;
    box-sizing: border-box;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
